/**--light: #C1C7C9;
--cool: #8C979A;
--dark: #555F61;
--bg: #131516;**/

* {
    margin:0;
    padding:0;  
  }

  body {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    background-color: #fff;
    color: #131516;
  }
  
  header {
    font-family: 'Courier New', Courier, monospace;
    background-color: #C1C7C9;
    color: #131516
  }

  h1 {
    display: inline-block;
    font-size: 3em;
    color: #131516;
  }

  nav{
    padding-top: 20px;
    margin-right: 20px;
    float: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
  }

  ul {
    list-style-type: none;
  }

  li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  main {
    padding: 60px 0;
  }

  footer {
    height: 50px;
    width: 100%;
    line-height: 50px;
  }

  footer {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    border-top: 5px solid #F9FFD2;
    background-color: #C1C7C9;
    color: #000;
  }

  figure {
    margin-bottom: 40px;
  }

  img {
    display: block;
    margin: 20px auto;
    border: 5px dotted #E5D2FF;
    border-radius: 10px;
  }

  section {
    margin-bottom: 0;
    padding: 20px 10px 40px 10px;
    border-top: 3px solid;
  }

  form {
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    border: 5px solid;
    border-radius: 20px;
  }

  label {
    display: inline-block;
    width: 100px;
  }

  input,
  textarea {
    box-sizing: border-box;
    width: 300px;
    border: 1px solid;
  }

  textarea {
    vertical-align: top;
    height: 60px;
  }

  button {
    margin: 10px;
    height: 40px;
    width: 120px;
    background-color: #C1C7C9;
    color: #000;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }