/**--light: #C1C7C9;
--cool: #8C979A;
--dark: #555F61;
--bg: #131516;**/

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  padding: 0;
  margin: 0;
  background-color: #F0F0F0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #474747;
}
  
header {
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    background-color: #fff;
}

h1 {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 3em;
    color: #474747;
    background-color: #fff;
    
}

h2 {
  font-size: 24px;
}

p {
  color: #555F61;
}

nav{
    padding-top: 20px;
    margin-right: 20px;
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
    border: solid #474747;
    background-color: #474747;
    color: #fff;
    opacity: 0.6;
    transition: 0.3s;
}

li:hover {
  opacity: 1;
}

a {
    text-decoration: none;
    color: #fff;
  }

#landing-image {
    height: 150px;
    width: 100%;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: center;
}

main {
  width: 100%;
  display: block;
  align-content: center;
}

section {
  display: flex;
  position: relative;
  margin-bottom: 10px;
  padding: 50px;
  min-height: 150px; /**temp fix for top and bottom spacing to be even**/
  border: 1px solid #fff;
  background-color: #fff;
}

.section-left {
  position: relative;
  padding-right: 25px;
  float: left;
  width: 20%;
  text-align: right;
}

.section-right {
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
  float: right;
  width: 80%;
  text-align: left;
  border-left: 3px solid #000;
  }

  /**test section container for flex container**/
.section-right-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  float: right;
  width: 80%;
  margin: 10px;
  border: 3px dotted red;
}
/**replace with section-right-flex?
.flex-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px;
  border: 1px dashed #000;
}**/

.item {
  display: flex;
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #474747;
  opacity: 0.6;
  transition: 0.3s;

}

#first {
  opacity: 1;
  width: 300px;
  height: 300px;
}

.item:hover {
  opacity: 1;
}

footer {
    height: 50px;
    width: 100%;
    line-height: 50px;
    position: absolute;
    bottom: -700px; /**temp fix: footer misplaced after adding sample imgs**/
    left: 0;
    right: 0;
    text-align: center;
    background-color: #C1C7C9;
    color: #000;
}

/* Desktop & larger 
@media screen and (min-width: 992px) {

} */

/* Tablet/medium screens, but bigger than mobile/small screens*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  nav {
    padding: 0;
    margin: 0;
  }

  li {
    display: block;
    margin: 2px;
    font-size: 16px;
  }
}

/* Small screens, small mobile/landscape mode screens */
@media screen and (min-width: 577px) and (max-width: 767px) {
  nav {
    padding: 0;
    margin: 0;
  }

  li {
    display: block;
    margin: 2px;
    font-size: 12px;
  }

  h2 {
    font-size: 20px;
  }
}

/* Xsmall screens/mobile in portrait mode */
@media screen and (max-width: 576px) {
  header {
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  nav {
    width: 90%;
    align-content: center;
  }

  li {
    display: block;
    margin: 2px;
    font-size: 16px;
    text-align: center;
  }

  h2 {
    font-size: 16px;
  }
}